@import "./../../scss/index.scss";

.viewPublication {
  padding: 50px;
  height: 720px;
  .ui.grid {
    margin: 0;
    height: 100%;
  }

  &__photo {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__content {
    padding: 0px !important;
    height: 100%;
    border: 1px solid $border-grey;
    .viewPublication__header {
      padding: 15px !important;
      border-bottom: 1px solid $border-grey !important;
      span {
        font-weight: bold;
        margin-left: 10px;
        text-align: center;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }

  &__divider {
    border-bottom: 1px solid $border-grey !important;
  }
}
