@import "./../../../scss/index.scss";

.password-form {
  margin-top: 20px;
  input {
    padding: 13px 15px !important;
    width: 400px !important;
    margin: 10px 0 !important;
    background-color: #f9f9f9f9 !important;
  }

  button {
    width: 400px !important;
    background-color: $action !important;
    color: #fff !important;
  }
}
