@import "./../../../scss/index.scss";

.list-follows {
  overflow-y: scroll;
  &__not-users {
    text-align: center;
    font-size: 17px;
    padding: 20px 0;
  }

  &__user {
    display: flex;
    align-items: center;
    margin: 10px 15px;
    &:hover {
      cursor: pointer;
    }
    img {
      margin-right: 20px !important;
    }
    p {
      font-size: 13px;
      margin: 0;

      &:first-of-type {
        color: #000;
        font-weight: bold;
      }
      &:last-of-type {
        color: $font-grey;
      }
    }
  }
}
